.container { 
  height: 200px;
  position: relative;
  border: none;
}

.center {
  border: none;
  background-color: black;
  color: white;
  padding: 15px 125px;
  margin: 0;
  position: absolute;
  top: 205%;
  left: 50%;
  display: inline-block;
  font-size: 16px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.napis {
	position: relative;
  	text-align: center;
  	margin-top: 300px;

}

body {
	background-size: cover;
	background-image: url("image/tlo.gif");
	background-repeat: no-repeat;
    background-attachment: fixed;
}
